.button {
  width: 1.375rem;
  height: 1.375rem;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 50%;
  background-color: var(--clr-destructive);
  color: var(--clr-destructive-foreground);
}
