.button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border: none;
  border-radius: var(--radius);
  background-color: var(--clr-primary);
  color: var(--clr-primary-foreground);
}
