.wrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 0.875rem;

  caption {
    padding-bottom: 0.5rem;
    font-weight: 600;
  }

  th,
  td {
    min-width: 4rem;
    padding: 0.25rem;

    &:nth-child(2) {
      position: sticky;
      left: 0;
      background-color: inherit;
      z-index: 1;
    }
  }

  th {
    position: relative;

    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0.75rem;
    }
  }

  tr {
    background-color: var(--clr-background);
  }

  thead tr {
    border-top: 1px solid var(--clr-border);
    border-bottom: 1px solid var(--clr-border);
  }

  tbody tr:nth-child(even) {
    background-color: var(--clr-secondary);
    color: var(--clr-secondary-foreground);
  }
}

.active {
  background-color: var(--clr-accent) !important;
  color: var(--clr-accent-foreground) !important;
}
