.card {
  & > *:not(:first-child) {
    margin-top: 0.5rem;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;

    img {
      height: 32px;
      width: auto;
    }
  }

  select {
    height: 2rem;
    padding: 0 0.5rem;
    border: 1px solid var(--clr-border);
    border-radius: var(--radius);
    background-color: var(--clr-background);
    color: var(--clr-foreground);
  }
}
